<!DOCTYPE html>
<html>
<head>
  <title>AngularJS Tutorials</title>
  <link rel="stylesheet" type="text/css" href="css/foundation.min.css">
</head>
<body>
  <div ng-app="app">
    <div ng-controller="AppCtrl">
      <h1>Normal way for controller</h1>
      <div class="button" ng-click="sayHi()">Click me to say hi!</div>
      <div class="button" ng-click="AppCtrl.sayHello()">Click me to say hello!</div>
    </div>
    <div ng-controller="PhoneCtrl">
      <h1>alternative way for controller</h1>
      <div class="button" ng-click="PhoneCtrl.sayHi()">Click me to say hi!</div>
    </div>
  <script type="text/javascript" src="js/angular/angular.min.js"></script>
  <script type="text/javascript" src="js/controller.js"></script>
</body>
</html>